.companies {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 130px 0;
  gap: 40px;
}
.companies h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244D4D;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .companies h1 {
    font-size: 24px;
    margin: 0 10px;
  }
}
.companies__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.companies__list img {
  width: 100px;
}
@media screen and (max-width: 1000px) {
  .companies__list img {
    margin: 20px 35px;
  }
}
.companies__list img:last-child {
  width: 68px;
}