.customers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  border: 1px solid #000;
}
.customers__img {
  width: 565px;
}
@media screen and (max-width: 1160px) {
  .customers__img {
    width: 465px;
  }
}
@media screen and (max-width: 1060px) {
  .customers__img {
    width: 385px;
  }
}
@media screen and (max-width: 1005px) {
  .customers__img {
    display: none;
  }
}
.customers__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 1005px) {
  .customers__text {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.customers__text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #242424;
}
@media screen and (max-width: 600px) {
  .customers__text h1 {
    font-size: 28px;
  }
}
.customers__text p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
}
@media screen and (max-width: 600px) {
  .customers__text p {
    font-size: 13px;
  }
}