.popular {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
@media screen and (max-width: 1205px) {
  .popular__list {
    justify-content: center;
  }
}
.popular h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #242424;
}
@media screen and (max-width: 945px) {
  .popular h1 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .popular h1 {
    font-size: 28px;
    margin: 0 10px;
  }
}
.popular__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 945px) {
  .popular__row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .popular__row-options {
    margin-top: 30px;
  }
}
.popular__row p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .popular__row p {
    font-size: 16px;
  }
}
.popular__row div {
  display: flex;
  gap: 16px;
}
.popular__row div img {
  width: 40px;
  height: 40px;
}
.popular__row div img:nth-child(1) {
  transform: rotate(180deg);
}